<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <h1>Logowanie</h1>
        <form method="POST" action="/login">
            <label for="email">Email:</label>
            <input type="email" name="email" required>

            <label for="password">Hasło:</label>
            <input type="password" name="haslo" required>


            <button type="submit">Zaloguj</button>
        </form>

        <p>Nie masz konta? <a href="/register">Zarejestruj się</a></p>
    </div>
</body>

</html>